<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <li>
            <form class="form-inline" action="{% url 'djangoapp:add_review' dealer_id=dealer_id %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Review" name="review" >
                    <input type="checkbox" class="form-control" placeholder="Purchase" name="purchase" >
                    <input type="date" class="form-control" placeholder="Purchase Date" name="purchase_date" >
                    <input type="text" class="form-control" placeholder="Name" name="name" >
                    <input type="text" class="form-control" placeholder="Car Make" name="car_make" >
                    <input type="text" class="form-control" placeholder="Car Model" name="car_model" >
                    <input type="text" class="form-control" placeholder="Car Year" name="car_year" >
                    <button class="btn btn-primary" type="submit">Submit</button>
                    
                </div>
            </form>
        </li>
    </body>
</html>