<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dealership Review</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Add reviews as cards -->
    <div> 
        <h2>Reviews for <strong>{{dealer.full_name}}</strong></h2>
        <div class="row">
        {% for review in reviews %}
            <div class="card col-md-4">
                <div class="card-header">
                    {% if review.sentiment == "positive" %}
                        <img class="img-thumbnail" style="height: 80px;" src="{{MEDIA_URL}}/emoji/positive.png">
                    {% elif review.sentiment == "negative" %}
                        <img style="height: 80px;" src="{{MEDIA_URL}}/emoji/negative.png">
                    {% else %}
                        <img class="card-img-left" style="height: 80px;" src="{{MEDIA_URL}}/emoji/neutral.png">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{review.car_make}} {{review.car_model}} {{review.car_year}}</h5>
                    <p class="card-text">{{review.review}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    </body>

</html>